@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap");

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(255 255 255 / 90%);
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container-fluid-md {
  overflow-x: hidden;
}

#hero {
  min-height: 100vh;
  position: relative;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1c1d;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

.homeLanding {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.homeLanding .content {
  z-index: 888;
  color: #fff;
  max-width: 100%;
  margin-top: 50px;
}

.texto-Industria1,
.texto-Gallay2 {
  font-size: 3.7em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 100px;
  text-align: center;
}
.texto-Gallay2 {
  margin-top: 10rem;
}

.UL-blur {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.LI-blur {
  list-style: none;
  font-size: 3em;
  letter-spacing: 35px;
  transition: 1s;
  display: flex;
  align-items: center;
}
.LI-blur:hover {
  filter: blur(70px);
  opacity: 0;
}

@media (min-width: 1300px) {
  .texto-Industria1,
  .texto-Gallay2 {
    font-size: 3.1em;
    line-height: 130px;
  }
}

@media (max-width: 1200px) {
  .texto-Industria1,
  .texto-Gallay2 {
    font-size: 2.1em;
  }
  .homeLanding .content {
    margin-top: -50px;
  }
}

@media (max-width: 992px) {
  .texto-Industria1,
  .texto-Gallay2 {
    font-size: 2em;
    line-height: 1px;
  }
}

@media (max-width: 768px) {
  .texto-Industria1,
  .texto-Gallay2 {
    font-size: 1.4em;
    letter-spacing: 3px;
  }
}

@media (max-width: 576px) {
  .texto-Industria1,
  .texto-Gallay2 {
    font-size: 1em;
  }
}

@media (max-width: 390px) {
  .texto-Industria1,
  .texto-Gallay2 {
    font-size: 5px;
  }
  .texto-Gallay2 {
    margin-top: 50px;
  }
  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    margin-top: -100px;
  }
}

/***CARROUSEL*/
section.container-slider {
  /* width: 70%; */
  width: 90%;
  margin: 0 auto;
}

.slick-slide > div {
  margin: 0 5px;
}
.slick-list {
  margin: 0 -10px;
}
.card-landing-carousel {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  /* background-color: #f1f1f1; */

  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}
.card-landing-carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  box-shadow: 10px 15px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.card-landing-carousel:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.card-landing-carousel {
  width: 25rem;
  height: 28rem;
  margin: 20px;
}

.card-top-landing h1 {
  font-size: 1.3rem;
  margin: 0;
  padding: 8px;
  margin: 10px 20px;
}

.card-landing-carousel button {
  font-size: 18px;
  bottom: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #bdba18;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-top-landing > img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: contain;
}

.card-bottom-landing {
  margin: 10px 0;
}

.categoria {
  position: relative;
}
.tpb {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoria::before {
  content: "";
  background: #ccc;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  height: 2px;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;

  cursor: pointer;
  color: #000000;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-text-decoration {
  text-decoration: none !important;
}
/******CARD PRODCTOS DESTACADOS********/
.card-horizontal-carrusel-info-productos-destacados {
  display: flex;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px 0;
  box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.card-horizontal-carrusel-info-productos-destacados:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.card-content-carrusel-productos-destacados {
  padding: 20px;
}

.card-content-carrusel-productos-destacados h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-content-carrusel-productos-destacados p {
  font-size: 1rem;
  margin: 0;
}

/**********PRODUCTOS DESTACADOS LANDING***********/
.icon-rounded {
  font-size: 24px;
  color: #bfc225;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 30px;
}

.yellow-half {
  background: linear-gradient(to right, yellow 100%, transparent 50%);
  display: inline;
  font-family: "Inter", sans-serif;
}
.producto-span-color-amarillo {
  color: #d6d850;
}

.productosDestacados {
  margin-top: 22em;
}
