.card-inicio-productos {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.card-inicio-productos {
  max-width: 20rem;
  min-height: 33rem;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card-inicio-productos.hovered.discounted-hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.card-inicio-productos:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.card-img-top-inicio {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: contain;
}

.row-cols-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 576px) {
  .row-cols-sm-2 {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .row-cols-md-4 {
    justify-content: center;
  }
}

.col-inicio-sesion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}

.card-body-inicio-productos {
  position: relative;
  display: flex;
  flex-direction: column;
}

.additional-text {
  color: #00a650;
  font-size: 1.1rem;
  margin-left: 8px;
}

.price-off {
  font-size: 15px;
  color: #008300;
  margin-left: 8px;
}
.free-shipping {
  color: #008300;
}

.img-container {
  position: relative;
}

.line-horizontal {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ccc;
}
.card-stock-inicio {
  font-size: 1rem;
  margin-bottom: 16px;
}

.card-text-inicio {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.price-container {
  position: relative;
  font-size: 2rem;
  margin-bottom: 8px;
}

.discount-price {
  font-size: 16px;
  text-decoration: line-through;
  margin-left: auto;
}

.price {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-description-inicio {
  font-size: 1rem;
  color: #999;
}

.row-scroll {
  margin-top: 100px;
}

@media (min-width: 390px) {
  .vertical-filter {
    margin-bottom: 50px;
    margin-top: 120px;
  }
}
.container {
  margin-top: 100px;
}

.textoBoton {
  font-size: 1em;
}

.botonBorrar {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 0.2px #fd0101;
  box-shadow: 1px 1px 5px 0.2px #ff0000;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  transition-delay: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  background-color: aliceblue;
}

.botonBorrar:hover {
  width: 245px;
  transition-delay: 0.2s;
}

.botonBorrar:hover > .paragraph {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  margin-top: 1.1em;
  margin-left: 0.9em;
}

.botonBorrar:hover > .icon-wrapper .icon {
  transform: scale(1.1);
}

.botonBorrar:hover > .icon-wrapper .icon path {
  stroke: rgb(195, 33, 33);
}

.paragraph {
  color: black;
  visibility: hidden;
  opacity: 0;
  font-size: 15px;
  margin-right: 20px;
  padding-left: 20px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  font-weight: bold;
  text-transform: uppercase;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transform: scale(0.9);
  transition: 0.2s linear;
}

.icon path {
  stroke: #000;
  stroke-width: 2px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
