/****** estilo para las cards de los productso*******/
/* Estilos para las cards */
.card-landing-productos {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.card-landing-productos {
  max-width: 20rem;
  min-height: 36rem;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card-landing-productos:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.card-img-top-landing {
  width: 100%;
  min-height: 360px;
  border-radius: 8px;
  object-fit: contain;
}

.card-title-inicio {
  color: #424242;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

/* Estilos para centrar las cards */
.row-cols-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para responsividad de las cards */
@media (min-width: 992px) {
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  .row-cols-md-4 {
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .row-cols-sm-2 {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .card-landing-productos {
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media (max-width: 390px) {
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 1);
    padding-left: calc(var(--bs-gutter-x) * 1);
    margin-top: var(--bs-gutter-y);
  }
}

/* Estilos para centrar las cards y separarlas del filtro */
.col-landing {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}

/* Estilos para el botón "sumar al carrito" */
.card-body-landing-productos {
  position: relative;
  display: flex;
  flex-direction: column;
}

.img-container-landing {
  position: relative;
}

.line-horizontal-landing {
  margin-bottom: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ccc;
}
.card-stock-landing {
  font-size: 1rem;
  margin-bottom: 16px;
}

.card-text-landing {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.price-container-landing {
  position: relative;
  font-size: 2rem;

  margin-bottom: 8px;
}

.price-landing {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-scroll {
  margin-top: 100px;
}
