.Loginform {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.75rem;
  background-color: #fff;
  color: rgb(97 97 97);
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
  background-clip: border-box;

  max-height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  max-height: calc(100vh - 125px);
  margin-bottom: 10px;
}

.Loginheader {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  position: relative;
  background-clip: border-box;
  background-color: #1e88e5;
  background-image: linear-gradient(to top right, #1e88e5, #42a5f5);
  /* margin: 50px; */
  border-radius: 0.75rem;
  overflow: hidden;
  color: #fff;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
    rgba(33, 150, 243, 0.4);
  /* height: 7rem; */
  letter-spacing: 0;
  line-height: 1.375;
  font-weight: 600;
  font-size: 1.9rem;
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logininputs {
  padding: 1rem;
  gap: 2.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logininput-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 200px;
  width: 100%;
  height: 2.75rem;
  position: relative;
}

.Logininput {
  border: 1px solid rgba(128, 128, 128, 0.61);
  outline: 0;
  color: rgb(69 90 100);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 1rem;
  background-color: transparent;
  border-radius: 0.375rem;
  width: 100%;
  height: 100%;
}

.Logininput:focus {
  border: 1px solid #1e88e5;
}

.Logincheckbox-container {
  margin-left: -0.625rem;
  display: inline-flex;
  align-items: center;
}

.Logincheckbox {
  position: relative;
  overflow: hidden;
  padding: 0.55rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.027);
  height: 35px;
  width: 50px;
}

.Logincheckbox input {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checkbox-text {
  cursor: pointer;
}

.Loginsigin-btn {
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  padding: 0.75rem 1.5rem;
  background-color: #1e88e5;
  background-image: linear-gradient(to top right, #1e88e5, #42a5f5);
  border-radius: 0.5rem;
  width: 100%;
  outline: 0;
  border: 0;
  color: #fff;
}

.Loginsignup-link {
  line-height: 2.5;
  font-weight: 300;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-link a,
.Loginforget {
  line-height: 2.5;
  font-weight: 700;
  font-size: 1rem;
  margin-left: 1.25rem;
  color: #1e88e5;
}

.Loginforget {
  font-weight: 400;
}

.login {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-herramientas {
  background-image: url("../../assets/herramientas.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.background-herramientas::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
}
@media (min-width: 390px) {
  .Loginform {
    min-width: 100%;
    max-height: 100%;
  }

  .Loginheader {
    font-size: 1.5rem;
  }

  .Logininputs {
    gap: 1.5rem;
  }
}
