.tarjDetail {
  margin-bottom: 2em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
  padding: 32px;
  border-radius: 10px;
  background: #ffffff;
  text-decoration: none;
}

.plan-card {
  background: #fff;
  width: 26rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  border-bottom: 4px solid #000446;
  box-shadow: 0 6px 30px rgba(207, 212, 222, 0.3);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.plan-card h2 {
  margin-bottom: 15px;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}

.plan-card h2 span {
  display: block;
  margin-top: -4px;
  color: #4d4d4d;
  font-size: 12px;
  font-weight: 400;
}

.plan-card h2:hover {
  /* Eliminar el efecto de hover */
  text-decoration: none;
}

.etiquet-price {
  position: relative;
  background: #fdbd4a;
  width: 24.46rem;
  margin-left: -0.65rem;
  padding: 0.2rem 1.2rem;
  border-radius: 5px 0 0 5px;
}

.etiquet-price p {
  margin: 0;
  padding-top: 0.4rem;
  display: flex;
  font-size: 1.9rem;
  font-weight: 500;
}

.etiquet-price p:before {
  content: "✅";
  margin-right: 5px;
  font-size: 15px;
  font-weight: 300;
}

.etiquet-price p:after {
  content: " / precio por unidad";
  margin-left: 5px;
  font-size: 15px;
  font-weight: 300;
}

.etiquet-price div {
  position: absolute;
  bottom: -23px;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 13px solid #c58102;
  border-bottom: 10px solid transparent;
  border-right: 13px solid transparent;
  z-index: -6;
}

.benefits-list {
  margin-top: 16px;
}

.benefits-list ul {
  padding: 0;
  font-size: 14px;
}

.benefits-list ul li {
  color: #4d4d4d;
  list-style: none;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.benefits-list ul li svg {
  width: 0.9rem;
  fill: currentColor;
}

.benefits-list ul li span {
  font-weight: 300;
}

.boton-get-plan {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
}

.boton-get-plan a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000446;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.boton-get-plan a:hover {
  transform: translateY(-3%);
  box-shadow: 0 3px 10px rgba(207, 212, 222, 0.9);
}

.boton-get-plan .svg-rocket {
  margin-right: 10px;
  width: 0.9rem;
  fill: currentColor;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #1976f0;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 9px;
  border: solid;
  cursor: pointer;
  transition: 400ms;
}

.boton .text {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
  margin-top: 1em;
}

.boton svg path {
  transition: 400ms;
}

.boton:hover {
  background-color: rgb(255, 191, 0);
}

.boton:hover .text {
  color: #181717;
}

.boton:hover svg path {
  fill: #181717;
}
