@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Playfair+Display&family=Poppins:wght@400;500&family=Raleway:wght@400;700&family=Roboto+Condensed&family=Tinos&display=swap");

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.hr {
  margin: 4rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background: #ffffffd0;
  border-radius: 20%;
}
/*barra de navegacion*/
.navbar-links-container {
  margin-left: auto; /*esta propiedad alinea los enlaces a la derecha */
  margin-right: 4rem;
}
.nav-link.active {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  font-size: 1.2rem;
}
.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar-links {
  position: relative;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.navbar-links li {
  margin-left: 3rem;
}
.navbar-links li:first-child {
  margin-left: 0;
}
.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}
.navbar-links a:hover {
  color: #ffffff;
}
/*icono navbar*/
.navbar-logo {
  margin-left: 7rem;
  justify-self: flex-start;
  color: #ffffff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.navbar-icon {
  margin-right: 0.1rem;
}

/* video hero loop */
#hero {
  min-height: 100vh;
  position: relative;
}
/* .container-fluid {
  height: 330px;
} */

.container-fluid-md {
  height: 900px; /* Ajusta este valor según tus necesidades */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1c1d;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

/*Nav-Bar*/

.navbar {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
} 

 .navbar .nav-logo {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
} 

 .navbar .nav-items {
  position: relative;
} 

 .navbar .nav-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 80px;
  transition: 0.3s ease;
} 

 .navbar .nav-items a:before {
  content: "";
  position: absolute;
  background: #ffff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
} 

 .navbar .nav-items a:hover:before {
  width: 100%;
} 

section {
  padding: 100px 200px;
}

/* texto de la home */

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background: ; */
}

.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
}

.home .content h1 {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.home .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
}

.home .content p {
  margin-bottom: 65px;
}

.home .content a {
  background: #fff;
  padding: 15px 35px;
  color: #3d597e;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}
.home .content {
  width: 90%;
  margin-top: 20px;
}

/* .content {
  padding: 1rem 1rem;
} */
/*CARROUSEL */

.carousel-image {
  width: 50rem;
  height: 50rem; /* Establece el ancho deseado para las imágenes */
}
/*carrousel container*/
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rem;
  width: 100%;
}

.carousel-inner {
  max-width: 100%;
}
.carousel-item {
  transition: transform 0.5s ease;
}

.carousel-item.active {
  transform: translateX(0);
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  transform: translateX(0);
}

.carousel-item-next,
.carousel-item-prev {
  transform: translateX(100%);
}

/* .carousel-item img {
  width: 100%;
  height: auto;
} */
