.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(255 255 255 / 90%);
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*barra de navegacion*/
.nav-link.active {
  color: #f8f9fa;
}
.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar-links {
  position: relative;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.navbar-links li {
  margin-left: 3rem;
}
.navbar-links li:first-child {
  margin-left: 0;
}
.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}
.navbar-links a:hover {
  color: #ffffff;
}
/*icono navbar*/
.navbar-logo {
  margin-left: 7rem;
  justify-self: flex-start;
  color: #ffffff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.navbar-icon {
  margin-right: 0.1rem;
}

/* video hero loop */
#hero {
  min-height: 100vh;
  position: relative;
}
/* .container-fluid {
  height: 330px;
} */

.container-fluid-md {
  height: 900px; /* Ajusta este valor según tus necesidades */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1c1d;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

/*Home Texto*/
.home {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home .content {
  margin-left: 100px;
  z-index: 888;
  color: #0f0f2cc5;
  width: 90%;
  margin-top: 20px;
}

.home .content h1 {
  padding-bottom: 30px;
  margin-left: 200px;
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.home .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
}

.home .content p {
  margin-bottom: 65px;
}

.home .content a {
  background: #fff;
  padding: 15px 35px;
  color: #3d597e;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}
.home .content {
  width: 90%;
  margin-top: 20px;
}

/* .content {
  padding: 1rem 1rem;
} */

/*carrousel container*/
/* .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100rem;
 
} */

.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel-inner {
  max-width: 100%;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

/*Footer*/
/* footer {
  min-height: 500px;
} */
footer {
  margin-top: 50px;
  padding: 20px;
  background-color: #1c1c1d;
  color: #fff;
  text-align: center;
}
.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

.hero-imagen-desarrollador {
  width: 170px;
  height: 200px;
  /* border-radius: 50%; */
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

.seccion-oscura {
  color: white;
  background-color: #1b1b32;
}

.seccion-clara {
  color: black;
  background-color: white;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}
.navbar-footer {
  justify-self: flex-start;
  color: #ffffff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.footer-icon {
  margin-right: 0.1rem;
}
