@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;600&family=Playfair+Display&family=Raleway:wght@400;700&family=Roboto+Condensed&family=Tinos&display=swap");

:root {
  --first-color: #010a43;
  --second-color: #ffc2c2;
  --white-color: #fff;
}


:root {
  --body-font: "Inter", serif;
  --h1-font-size: 2.3rem;
  --h2-font-size: 2.3rem;
  --normal-font-size: 0.93rem;
  --big-font-size: 5rem;
  --smaller-font-size: 0.75rem;
}
@media screen and (min-width: 768) {
  :root {
    --h1-font-size: 4.5rem;
    --h2-font-size: 3.56rem;
    --normal-font-size: 1rem;
    --big-font-size: 10rem;
    --smaller-font-size: 0.813rem;
  }
}


:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* *,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 3rem 0 0 0;
  font-family: var(--body-font);
  font-weight: initial;
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
  font-weight: initial;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: var(--normal-font-size);
} */

.bd-grid {
  max-width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  color: var(--white-color);
  z-index: var(--z-fixed);
}


.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 3rem;
    left: -100%;
    background-color: rgba(1, 10, 67, 0.8);
    width: 80%;
    height: 100vh;
    margin: auto;
    padding: 2rem;
    z-index: var(--z-fixed);
    transition: 0.5s;
  }
}
.nav__menu__list {
  text-align: center;
}
.nav__menu__item {
  margin-bottom: 2rem;
}
.nav__menu__link {
  padding: 0.5rem;
  color: var(--white-color);
}
.nav__menu__logo {
  color: var(--white-color);
}
.nav__menu__toggle {
  font-size: 2rem;
  cursor: pointer;
}
.nav__menu__icon-cart {
  font-size: 1.3rem;
  text-align: right;
}


.show {
  left: 0;
} 
