@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap");
body {
  max-width: 100%;
  overflow-x: hidden;
}
:root {
  --first-color: #010a43;
  --second-color: #ffc2c2;
  --white-color: #fff;

  --body-font: "Tinos", serif;
  --h1-font-size: 5rem;
  --h2-font-size: 2.3rem;
  --normal-font-size: 0.93rem;
  --big-font-size: 5rem;
  --smaller-font-size: 0.75rem;

  --z-fixed: 100;
}

/* .row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
  margin-top: var(--bs-gutter-y);
} */

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 7.5rem;
    --h2-font-size: 3.56rem;
    --normal-font-size: 1rem;
    --big-font-size: 10rem;
    --smaller-font-size: 0.813rem;
  }
}

.l-header {
  width: 100%;
  position: fixed;
  z-index: var(--z-fixed);
}
.home {
  position: relative;
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: calc(100vh - 3.5rem);
  align-content: stretch;
  justify-content: center;
  align-items: stretch;
}

.home__primary {
  width: 0;
  background-color: #ecb10d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.home__title {
  font-size: var(--h1-font-size);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: var(--white-color);
}

.home__img {
  width: 235px;
  height: auto;
}

.home__secondary {
  width: 0;
  background-color: #1d0a00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.home__year {
  font-size: 5rem;
  -webkit-text-stroke: 2.3px var(--first-color);
  color: transparent;
  color: #fff;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .l-header {
    background-color: transparent;
  }
  .nav {
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-right: 5rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .home {
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr;
    height: 100vh;
  }
  .home__primary {
    justify-content: center;
  }
  .home__img img {
    position: absolute;
    width: 25rem;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
  }
  .home__year {
    font-size: 6rem;
    writing-mode: vertical-rl;
    margin-left: 5rem;
  }
  .home__title {
    font-size: 6.5rem;
    transform: rotate(180deg);
    color: var(--white-color);
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .nav {
    height: calc(3.5rem + 1.5rem);
  }

  .home__title {
    margin-bottom: 45px;
    font-size: 8rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: var(--white-color);
  }

  .home__year {
    font-size: 7rem;
    writing-mode: vertical-rl;
    margin-left: 5rem;
  }
  .home__img img {
    position: absolute;
    width: 26rem;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1024px) and (height: 600px) {
  .home__title {
    margin-bottom: 75px;
    font-size: 7rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: var(--white-color);
  }

  .home__year {
    font-size: 6rem;
    writing-mode: vertical-rl;
    margin-left: 5rem;
  }
  .home__img img {
    position: absolute;
    width: 20rem;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 8px;
  }
}
@media screen and (max-width: 393px) {
  .home__year {
    font-size: 4rem;
    margin-left: 1rem;
  }
  .home__title {
    writing-mode: horizontal-tb;
    transform: none;
  }
}

@media screen and (width: 844px) and (height: 390px) {
  body {
    margin: 0;
  }

  .home__img img {
    position: absolute;
    width: 15rem;
    top: 17%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
  }
  .home__year {
    font-size: 4rem;
    margin-left: 1rem;
  }
  .home__title {
    writing-mode: horizontal-tb;
    transform: none;
  }
}

@media screen and (width: 360px) and (height: 640px) {
  .home__year {
    font-size: 3.5rem;
    margin-right: 3.7rem;
  }
  .home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
  }

  .home__title {
    writing-mode: horizontal-tb;
    transform: none;
  }
}

@media screen and (width: 640px) and (height: 360px) {
  .home__year {
    font-size: 3.5rem;
  }

  .home__title {
    writing-mode: horizontal-tb;
    transform: none;
  }
  .vertical-filter {
    margin-top: 200px;
    height: 30rem;
  }
}

@media screen and (width: 320px) and (height: 533px) {
  .home__year {
    font-size: 2.5rem;

    margin-right: 2.7rem;
  }

  .home__title {
    writing-mode: horizontal-tb;
    transform: none;
  }
  .vertical-filter {
    margin-top: 100px;
    height: 30rem;
    display: flex;
    justify-content: center;
    margin-right: 14px;
  }
  .filter-container {
    padding-left: 1rem;
  }
}

@media screen and (width: 540px) and (height: 720px) {
  .home__year {
    font-size: 4.5rem;
    margin-right: 1.5rem;
  }
  .home__title {
    writing-mode: horizontal-tb;
    transform: none;
    font-size: 5rem;
  }
  .vertical-filter {
    margin-top: 40px;
    height: 30rem;
    display: flex;
    justify-content: center;
    margin-right: 14px;
  }
  .filter-container {
    padding-right: 10px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (width: 533px) and (height: 320px) {
  .home__year {
    font-size: 3.5rem;
    margin-left: 1.7rem;
  }

  .home__title {
    writing-mode: horizontal-tb;
    transform: none;
  }
  .vertical-filter {
    margin-top: 200px;
    height: 30rem;
    display: flex;
    justify-content: center;
  }
  .filter-container {
    padding-left: 1rem;
    display: flex;
    justify-content: center;
  }
}

@media screen and (width: 384px) and (height: 854px) {
  .home__year {
    font-size: 3.7rem;
    margin-left: 1rem;
  }

  .home__title {
    writing-mode: horizontal-tb;
    transform: none;
  }
  .vertical-filter {
    margin-top: 40px;
    height: 30rem;
    display: flex;
    justify-content: center;
  }
  .filter-container {
    padding-right: 1.4rem;
    display: flex;
    justify-content: center;
  }
}

@media screen and (width: 854px) and (height: 384px) {
  .home__img img {
    position: absolute;
    width: 13rem;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
  }

  .home__year {
    font-size: 3.5rem;

    margin-left: 1.7rem;
  }
  .home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
  }

  .home__title {
    font-size: 3.5rem;
    margin-left: 60px;
    margin-bottom: 80px;
    margin-top: 30px;

    color: var(--white-color);
  }
  .vertical-filter {
    margin-top: 100px;
    height: 30rem;
    display: flex;
    justify-content: center;
  }
  .filter-container {
    padding-left: 1rem;
    display: flex;
    justify-content: center;
  }
}

@media screen and (width: 414px) and (height: 896px) {
  .home__year {
    font-size: 3.5rem;
    margin-right: 1.5rem;
  }
  .home__title {
    writing-mode: horizontal-tb;
    transform: none;
    font-size: 5rem;
  }
  .vertical-filter {
    margin-top: 40px;
    height: 30rem;
    display: flex;
    justify-content: center;
    margin-right: 14px;
  }
  .filter-container {
    padding-right: 10px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (width: 412px) and (height: 915px) {
  .home__year {
    font-size: 3.5rem;
    margin-right: 1.5rem;
  }
  .home__title {
    writing-mode: horizontal-tb;
    transform: none;
    font-size: 5rem;
  }
  .vertical-filter {
    margin-top: 40px;
    height: 30rem;
    display: flex;
    justify-content: center;
    margin-right: 14px;
  }
  .filter-container {
    padding-right: 10px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (width: 412px) and (height: 914px) {
  .home__year {
    font-size: 3.5rem;
    margin-right: 1.5rem;
  }
  .home__title {
    writing-mode: horizontal-tb;
    transform: none;
    font-size: 5rem;
  }
  .vertical-filter {
    margin-top: 40px;
    height: 30rem;
    display: flex;
    justify-content: center;
    margin-right: 14px;
  }
  .filter-container {
    padding-right: 10px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (width: 280px) and (height: 653px) {
  .home__year {
    font-size: 2.5rem;
    margin-right: 1.5rem;
  }

  .home__title {
    writing-mode: horizontal-tb;
    transform: none;
    font-size: 4rem;
  }
  .vertical-filter {
    margin-top: 40px;
    height: 30rem;
    display: flex;
    justify-content: center;
    margin-right: 14px;
  }
  .filter-container {
    padding-right: 10px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (width: 270px) and (height: 600px) {
  .home__year {
    font-size: 2.5rem;
    margin-right: 4.6rem;
  }

  .home__title {
    writing-mode: horizontal-tb;
    transform: none;
  }
  .vertical-filter {
    margin-top: 40px;
    height: 30rem;
    display: flex;
    justify-content: center;
    margin-right: 14px;
  }
  .filter-container {
    padding-right: 1rem;
    display: flex;
    justify-content: center;
  }
}

@media screen and (width: 600px) and (height: 270px) {
  .home__img img {
    position: absolute;
    width: 11rem;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 50px;
    border-radius: 10px;
  }

  .home__year {
    font-size: 3.5rem;

    margin-left: 1.7rem;
  }
  .home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
  }

  .home__title {
    font-size: 3.5rem;
    margin-left: 60px;
    margin-bottom: 30px;
    margin-top: 30px;

    color: var(--white-color);
  }
  .vertical-filter {
    margin-top: 200px;
    height: 30rem;
    display: flex;
    justify-content: center;
  }
  .filter-container {
    padding-left: 1rem;
    display: flex;
    justify-content: center;
  }
}
