@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap");
body {
  max-width: 100%;
  overflow-x: hidden;
}
:root {
  --first-color: #010a43;
  --second-color: #ffc2c2;
  --white-color: #fff;

  --body-font: "Tinos", serif;
  --h1-font-size: 2.3rem;
  --h2-font-size: 2.3rem;
  --normal-font-size: 0.93rem;
  --big-font-size: 5rem;
  --smaller-font-size: 0.75rem;

  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 7.5rem;
    --h2-font-size: 3.56rem;
    --normal-font-size: 1rem;
    --big-font-size: 10rem;
    --smaller-font-size: 0.813rem;
  }
}
.l-header {
  width: 100%;
  position: fixed;
  z-index: var(--z-fixed);
}
.home {
  position: relative;
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: calc(100vh - 3.5rem);
}

.home__primary {
  width: 0;

  background-color: #ecb10d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.home__title {
  font-size: var(--h1-font-size);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: var(--white-color);
}

.home__img {
  width: 235px;
  height: auto;
}

.home__secondary {
  width: 0;

  background-color: #1d0a00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.home__scroll {
  position: absolute;
  left: 0;
  bottom: 15%;
  font-size: var(--smaller-font-size);
  transform: rotate(270deg);
  color: var(--first-color);
}

.home__scroll::after {
  content: "";
  position: absolute;
  top: 45%;
  left: -10%;
  width: 38px;
  height: 1px;
  background-color: var(--first-color);
  margin-left: -2.5rem;
}

.home__year {
  font-size: 5rem;
  -webkit-text-stroke: 2.3px var(--first-color);
  color: transparent;
  color: #fff;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .l-header {
    background-color: transparent;
  }
  .nav {
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-right: 5rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .home {
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr;
    height: 100vh;
  }
  .home__primary {
    justify-content: center;
  }
  .home__img img {
    position: absolute;
    width: 25rem;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .home__scroll {
    color: var(--white-color);
  }
  .home__scroll::after {
    background-color: var(--white-color);
  }
  .home__year {
    font-size: 6rem;
    writing-mode: vertical-rl;
    margin-left: 5rem;
  }
  .home__title {
    font-size: 5.5rem;
    transform: rotate(180deg);
    color: var(--white-color);
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .nav {
    height: calc(3.5rem + 1.5rem);
  }

  .home__title {
    margin-bottom: 150px;
    font-size: 8rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: var(--white-color);
  }

  .home__year {
    font-size: 7rem;
    writing-mode: vertical-rl;
    margin-left: 5rem;
  }
  .home__img img {
    position: absolute;
    width: 30rem;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
@media screen and (max-width: 390px) {
  body {
    margin: 0;
  }

  .home__img img {
    position: absolute;
    width: 16rem;
    top: -16%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 20px;
  }
  .home__scroll {
    color: var(--white-color);

    position: absolute;
    left: 0;
    bottom: 4%;
    font-size: 6px;
    transform: rotate(270deg);
  }

  .home__year {
    font-size: 4rem;
    margin-left: 1rem;
  }
  .home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
  }

  .home__title {
    font-size: 4rem;
    margin-right: 1rem;
    color: var(--white-color);
  }
}

@media screen and (width: 844px) and (height: 390px) {
  body {
    margin: 0;
  }

  .home__img img {
    position: absolute;
    width: 15rem;
    top: 17%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .home__scroll {
    color: var(--white-color);
    position: absolute;
    left: 0;
    bottom: 4%;
    font-size: 6px;
    transform: rotate(270deg);
  }

  .home__year {
    font-size: 4rem;
    margin-left: 1rem;
  }
  .home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
  }

  .home .home__title {
    margin-bottom: 50px;
    font-size: 4.5rem;
    margin-left: 3rem;
    color: var(--white-color);
  }
}

@media screen and (width: 360px) and (height: 640px) {
  body {
    margin: 0;
  }

  .home__img img {
    position: absolute;
    width: 16rem;
    top: -22%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 20px;
  }
  .home__scroll {
    color: var(--white-color);

    position: absolute;
    left: 0;
    bottom: 4%;
    font-size: 6px;
    transform: rotate(270deg);
  }

  .home__year {
    font-size: 3.5rem;
    margin-right: 3.7rem;
  }
  .home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
  }

  .home__title {
    font-size: 3.5rem;
    margin-right: 100px;
    color: var(--white-color);
  }
}

@media screen and (width: 640px) and (height: 360px) {
  body {
    margin: 0;
  }

  .home__img img {
    position: absolute;
    width: 12rem;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 100px;
  }
  .home__scroll {
    color: var(--white-color);

    position: absolute;
    left: 0;
    bottom: 4%;
    font-size: 6px;
    transform: rotate(270deg);
  }

  .home__year {
    font-size: 3.5rem;
  }
  .home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
  }

  .home__title {
    font-size: 3.5rem;
    margin-left: 60px;
    margin-bottom: 60px;
    color: var(--white-color);
  }
  .vertical-filter {
    margin-top: 200px;
    height: 30rem;
  }
}

@media screen and (width: 320px) and (height: 533px) {
  body {
    margin: 0;
  }

  .home__img img {
    position: absolute;
    width: 12rem;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 20px;
  }

  .home__year {
    font-size: 2.5rem;
    
    margin-right: 2.7rem;
  }
  .home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
  }

  .home__title {
    font-size: 3.5rem;
   
    margin-bottom: 30px;
    margin-top: 30px;
 
    color: var(--white-color);
  }
  .vertical-filter {
    margin-top: 100px;
    height: 30rem;
    display: flex;
    justify-content: center;
    margin-right: 14px;
  }
  .filter-container {
    padding-left: 1rem;
  }
}

@media screen and (width: 533px) and (height: 320px) {
  body {
    margin: 0;
  }

  .home__img img {
    position: absolute;
    width: 12rem;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 50px;
  }

  .home__year {
    font-size: 3.5rem;
  
    margin-left: 1.7rem;
  }
  .home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
  }

  .home__title {
    font-size: 3.5rem;

    margin-bottom: 30px;
    margin-top: 30px;
 
    color: var(--white-color);
  }
  .vertical-filter {
    margin-top: 200px;
    height: 30rem;
    display: flex;
    justify-content: center;

  }
  .filter-container {
    padding-left: 1rem;
    display: flex;
    justify-content: center;
  }
}

@media screen and (width: 384px) and (height: 854px) {
  body {
    margin: 0;
  }

  .home__img img {
    position: absolute;
    width: 16rem;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 20px;
  }

  .home__year {
    font-size: 3.7rem;
    margin-left: 1rem;
  }
  .home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
  }

  .home__title {
    font-size: 4.5rem;
    color: var(--white-color);
  }
  .vertical-filter {
    margin-top: 40px;
    height: 30rem;
    display: flex;
    justify-content: center;
  }
  .filter-container {
    padding-right: 1.4rem;
    display: flex;
    justify-content: center;
  }
}

@media screen and (width: 854px) and (height: 384px) {
  body {
    margin: 0;
  }

  .home__img img {
    position: absolute;
    width: 13rem;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .home__year {
    font-size: 3.5rem;
   
    margin-left: 1.7rem;
  }
  .home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
  }

  .home__title {
    font-size: 3.5rem;
    margin-left: 60px;
    margin-bottom: 80px;
    margin-top: 30px;
    
    color: var(--white-color);
  }
  .vertical-filter {
    margin-top: 100px;
    height: 30rem;
    display: flex;
    justify-content: center;
   
  }
  .filter-container {
    padding-left: 1rem;
    display: flex;
    justify-content: center;
  }
}

@media screen and (width: 280px) and (height: 653px) {
  body {
    margin: 0;
  }

  .home__img img {
    position: absolute;
    width: 12rem;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 5px;
  }

  .home__year {
    font-size: 2.5rem;

    margin-right: 4.5rem;
  }
  .home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
  }

  .home__title {
    font-size: 3.5rem;
   
    margin-bottom: 30px;
    margin-top: 30px;
    
    color: var(--white-color);
  }
  .vertical-filter {
    margin-top: 40px;
    height: 30rem;
    display: flex;
    justify-content: center;
    margin-right: 14px;
  }
  .filter-container {
    padding-right: 10px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (width: 270px) and (height: 600px) {
  body {
    margin: 0;
  }

  .home__img img {
    position: absolute;
    width: 11rem;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 10px;
  }

  .home__year {
    font-size: 2.5rem;
    margin-right: 4.6rem;
  }
  .home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
  }

  .home__title {
    font-size: 3rem;
    color: var(--white-color);
  }
  .vertical-filter {
    margin-top: 40px;
    height: 30rem;
    display: flex;
    justify-content: center;
    margin-right: 14px;
  }
  .filter-container {
    padding-right: 1rem;
    display: flex;
    justify-content: center;
  }
}

@media screen and (width: 600px) and (height: 270px) {
  body {
    margin: 0;
  }

  .home__img img {
    position: absolute;
    width: 11rem;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 50px;
  }

  .home__year {
    font-size: 3.5rem;

    margin-left: 1.7rem;
  }
  .home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
  }

  .home__title {
    font-size: 3.5rem;
    margin-left: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
    
    color: var(--white-color);
  }
  .vertical-filter {
    margin-top: 200px;
    height: 30rem;
    display: flex;
    justify-content: center;
   
  }
  .filter-container {
    padding-left: 1rem;
    display: flex;
    justify-content: center;
  }
}
