/* imagen home hero*/
 /* #my-custom-row.row {
  padding-right: 0;
  padding-left: 0;
}
#my-custom-row.row img {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}  */



  :root {
  --first-color: #010a43;
  --second-color: #ffc2c2;
  --white-color: #fff;
} 


 :root {
  --body-font: "Inter", serif;
  --h1-font-size: 2.3rem;
  --h2-font-size: 2.3rem;
  --normal-font-size: 0.93rem;
  --big-font-size: 5rem;
  --smaller-font-size: 0.75rem;
} 
 @media screen and (min-width: 768) {
  :root {
    --h1-font-size: 4.5rem;
    --h2-font-size: 3.56rem;
    --normal-font-size: 1rem;
    --big-font-size: 10rem;
    --smaller-font-size: 0.813rem;
  }
} 

 
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
} 

/* 
*,
::before,
::after {
  box-sizing: border-box;
}  

body {
  margin: 3rem 0 0 0;
  font-family: var(--body-font);
  font-weight: initial;
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
  font-weight: initial;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: var(--normal-font-size);
} */


.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  color: var(--white-color);
  z-index: var(--z-fixed);
}


.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 3rem;
    left: -100%;
    background-color: rgba(1, 10, 67, 0.8);
    width: 80%;
    height: 100vh;
    margin: auto;
    padding: 2rem;
    z-index: var(--z-fixed);
    transition: 0.5s;
  }
}
.nav__menu__list {
  text-align: center;
}
.nav__menu__item {
  margin-bottom: 2rem;
}
.nav__menu__link {
  padding: 0.5rem;
  color: var(--white-color);
}
.nav__menu__logo {
  color: var(--white-color);
}
.nav__menu__toggle {
  font-size: 2rem;
  cursor: pointer;
}
.nav__menu__icon-cart {
  font-size: 1.3rem;
  text-align: right;
}


.show {
  left: 0;
}


.home {
  position: relative;
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: calc(100vh - 3rem);
}
.home__primary {
  width: 0;
  background-color: var(first-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.home__title {
  font-size: var(--h1-font-size);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: var(--white-color);
}
.home__img {
  width: 235px;
  height: auto;
}
.home__secondary {
  width: 0;
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.home__scroll {
  position: absolute;
  left: 0;
  bottom: 15%;
  font-size: var(--smaller-font-size);
  transform: rotate(270deg);
  color: var(--first-color);
}
.home__scroll::after {
  content: "";
  position: absolute;
  top: 45%;
  left: -10%;
  width: 38px;
  height: 1px;
  background-color: var(--first-color);
  margin-left: -2.5rem;
}
.home__year {
  font-size: var(--big-font-size);
  -webkit-text-stroke: 2.3px var(--first-color);
  color: transparent;
}


@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .l-header {
    background-color: transparent;
  }
  .nav {
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;
  }
  .nav__list {
    display: flex;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .home {
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr;
  }
  .home__primary {
    justify-content: center;
  }
  .home__img img {
    position: absolute;
    width: 361px;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: var(--z-normal);
  }
  .home__scroll {
    color: var(--white-color);
  }
  .home__scroll::after {
    background-color: var(--white-color);
  }
  .home__year {
    writing-mode: vertical-lr;
    margin-left: 5rem;
  }
}
@media screen and (min-widht: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
} 