/****formulario*****/
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.admin {
  max-width: 50rem;
  margin: 0 auto;
  padding: 20px;

  border: 1px solid #ccc;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1.75rem;
  background-color: #ffffff;
  color: rgb(97 97 97);
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
  background-clip: border-box;
}

.header-admin {
  position: relative;
  background-clip: border-box;
  background-color: #1e88e5;
  background-image: linear-gradient(to top right, #1e88e5, #42a5f5);
  margin: 50px;
  border-radius: 0.75rem;
  overflow: hidden;
  color: #fff;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
    rgba(33, 150, 243, 0.4);
  height: 7rem;
  letter-spacing: 0;
  line-height: 1.375;
  font-weight: 600;
  font-size: 1.9rem;
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputs-admin {
  padding: 3.5rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

.input-admin-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 200px;
  width: 100%;
  height: 2.75rem;
  position: relative;
}

.input-admin {
  border: 1px solid rgba(128, 128, 128, 0.61);
  outline: 0;
  color: rgb(69 90 100);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 1rem;
  background-color: transparent;
  border-radius: 0.375rem;
  width: 100%;
  height: 100%;
}

.input-admin:focus {
  border: 1px solid #1e88e5;
}

.checkbox-container-admin {
  margin-left: -0.625rem;
  display: inline-flex;
  align-items: center;
}

.checkbox {
  position: relative;
  overflow: hidden;
  padding: 0.55rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.027);
  height: 35px;
  width: 50px;
}

.checkbox input {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checkbox-text {
  cursor: pointer;
}

.sigin-btn-admin {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  padding: 0.75rem 1.5rem;
  background-color: #1e88e5;
  background-image: linear-gradient(to top right, #1e88e5, #42a5f5);
  border-radius: 0.5rem;
  width: 100%;
  outline: 0;
  border: 0;
  color: #fff;
}

.signup-link {
  line-height: 2.5;
  font-weight: 300;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-link a,
.forget {
  line-height: 2.5;
  font-weight: 700;
  font-size: 1rem;
  margin-left: 1.25rem;
  color: #1e88e5;
}

.forget {
  text-align: right;
  font-weight: 600;
}

.h1-admin {
  font-size: 5.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.h2-admin {
  font-size: 2.8rem;
  color: #555;
  margin-bottom: 4.5rem;
}

.larry {
  background-color: transparent;
  max-height: 25rem;
  border-radius: 10%;
}

.perrito-admin {
  background-image: url("../../assets/fondoAdmin.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}

.container.formAdmin-container {
  padding: 10rem;
  margin-top: 10px;
}

.pagination .active {
  background-color: #007bff;
  color: white;
}