.container-spinner{
    background-color: bisque;
    justify-content: center;
    align-items: center;
    display: flex;
}



.ml16 {
    color: #402d2d;
    padding: 40px 0;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    overflow: hidden;
  }
  
  .ml16 .letter {
    display: inline-block;
    line-height: 1em;
  }