:root {
  --first-color: #010a43;
  --second-color: #ffc2c2;
  --white-color: #fff;
}

:root {
  --body-font: "Inter", serif;
  --h1-font-size: 2.3rem;
  --h2-font-size: 2.3rem;
  --normal-font-size: 0.93rem;
  --big-font-size: 5rem;
  --smaller-font-size: 0.75rem;
  --bs-card-height: 350px;
}
@media screen and (min-width: 768) {
  :root {
    --h1-font-size: 4.5rem;
    --h2-font-size: 3.56rem;
    --normal-font-size: 1rem;
    --big-font-size: 10rem;
    --smaller-font-size: 0.813rem;
  }
}

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* 

::before,
::after {
  box-sizing: border-box;
}  

body {
  margin: 3rem 0 0 0;
  font-family: var(--body-font);
  font-weight: initial;
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
  font-weight: initial;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: var(--normal-font-size);
} */

.bd-grid {
  /* max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem; */
  max-width: 1200px;
  margin: 0 auto; /* Centramos el contenido */
}

/* .l-header {
  width: 100%;
  position: fixed;
 
  background-color: var(--first-color);
  color: var(--white-color);
  z-index: var(--z-fixed);
} */

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 3rem;
    left: -100%;
    background-color: rgba(1, 10, 67, 0.8);
    width: 80%;
    height: 100vh;
    margin: auto;
    padding: 2rem;
    z-index: var(--z-fixed);
    transition: 0.5s;
  }
}
.nav__menu__list {
  text-align: center;
}
.nav__menu__item {
  margin-bottom: 2rem;
}
.nav__menu__link {
  padding: 0.5rem;
  color: var(--white-color);
}
.nav__menu__logo {
  color: var(--white-color);
}
.nav__menu__toggle {
  font-size: 2rem;
  cursor: pointer;
}
.nav__menu__icon-cart {
  font-size: 1.3rem;
  text-align: right;
}

.show {
  left: 0;
}

.home {
  position: relative;
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: calc(100vh - 3rem);
}
.home__primary {
  width: 0;
  background-color: var(first-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.home__title {
  font-size: var(--h1-font-size);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: var(--white-color);
}
.home__img {
  /* width: 235px;
  height: auto; */
  width: 100%;
  height: auto;
}
.home__secondary {
  width: 0;
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.home__scroll {
  position: absolute;
  left: 0;
  bottom: 15%;
  font-size: var(--smaller-font-size);
  transform: rotate(270deg);
  color: var(--first-color);
}
.home__scroll::after {
  content: "";
  position: absolute;
  top: 45%;
  left: -10%;
  width: 38px;
  height: 1px;
  background-color: var(--first-color);
  margin-left: -2.5rem;
}
.home__year {
  font-size: var(--big-font-size);
  -webkit-text-stroke: 2.3px var(--first-color);
  color: transparent;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .l-header {
    background-color: transparent;
  }
  .nav {
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;
  }
  .nav__list {
    display: flex;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .home {
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr;
  }
  .home__primary {
    justify-content: center;
  }
  .home__img img {
    position: absolute;
    width: 361px;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: var(--z-normal);
  }
  .home__scroll {
    color: var(--white-color);
  }
  .home__scroll::after {
    background-color: var(--white-color);
  }
  .home__year {
    writing-mode: vertical-lr;
    margin-left: 5rem;
  }
}
@media screen and (min-widht: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Filstros*/
/* .select-padding.col-md-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
  padding-right: 6rem;
}
.transparent-text {
  color: transparent;
} */

















/*********css Filtro lateral izquierdo*********/

/* Estilos para el contenedor de categorías */
.categories-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.filter-container {
  padding-left: 1.9rem;
  /* padding-top: 4rem; */
  /* overflow-x: hidden; */
  /* display: flex;  */
}
.vertical-filter {
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  height: 38rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.search-container {
  padding: 10px;
  margin-bottom: 10px;
}

.input-filtrado-vertical {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-filtrado-vertical:focus {
  border-color: #007bff !important; /* Cambia el color del borde cuando el input está enfocado */
  outline: none;
  box-shadow: 0 0 10px rgba(57, 80, 211, 0.2);
}

/* Estilos para el icono de flecha */
.arrow-down {
  /* margin-left: auto; */
  margin-left: 5px;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.input-filtrado-vertical[type="text"] {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.category-filter {
  padding: 10px;
  cursor: pointer;
  align-items: center;
}
/* Estilos para el botón de categorías */
.h3-filtro-vertical {
  font-size: 18px;
  margin: 0;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: center; */
  /* background-color: #dadd11; */
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}

.ul-filtrado-vertical li {
  margin-bottom: 5px;
}
/* Estilos para las subcategorías */
.ul-filtrado-vertical {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #f1f1f1;
}

.li-filtro-vertical {
  padding: 5px;
  cursor: pointer;
}

.li-filtro-vertical:hover {
  background-color: #ffc2c2;
}

/* Estilos para la sección de categorías y subcategorías */
.h3-filtro-vertical {
  background-color: #cec21a;
  padding: 10px;
  color: #eeeeee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.h3-filtro-vertical.active {
  background-color: #b9b9b9;
}

.h3-filtro-vertical.active + .ul-filtrado-vertical {
  display: block;
}

.li-filtro-vertical {
  display: none; /* Ocultamos inicialmente las subcategorías */
}

/* Estilos para el botón que despliega las subcategorías */
.show-subcategories-btn {
  cursor: pointer;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.show-subcategories-btn:hover {
  background-color: #0056b3;
}

/*icono flechita categorias*/
.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 0.6em;
  overflow: visible;
  vertical-align: -0.125em;
}
/*quitamos el scroll horizontal*/
.row-scroll {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--bs-gutter-y));
  /* margin-right: calc(-.5 * var(--bs-gutter-x)); */
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

/********boton filtrado general******/
/* Estilos para el botón desplegable */
.form-select-filtro {
  /* Establecer un tamaño de fuente y un color de texto */
  font-size: 16px;
  color: #333;

  /* Ajustar el ancho y alto del select */
  width: 80%;
  height: 40px;

  /* Establecer los colores de fondo y borde */
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;

  /* Personalizar el cursor al pasar sobre el select */
  cursor: pointer;

  /* Ajustar el relleno (padding) interno para dar espacio al texto */
  padding: 8px;
}

/* Estilo para los options dentro del select */
.form-select-filtro option {
  /* Establecer un tamaño de fuente y color de texto */
  font-size: 16px;
  color: #333;
}

/* Cambiar el color del texto cuando el select está desactivado */
.form-select-filtro:disabled {
  color: #999;
}

/* Cambiar el color de fondo cuando el select está desactivado */
.form-select-filtro:disabled option {
  background-color: #f1f1f1;
  color: #999;
}

/* Establecer los colores de fondo y texto cuando el select está enfocado */
.form-select-filtro:focus {
  outline: none;
  background-color: #fff;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-select-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  border-radius: var(--bs-border-radius-sm);
  margin-left: 9px;
}














/****** estilo para las cards de los productso*******/
/* Estilos para las cards */
.card-inicio-productos {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  /* background-color: #f1f1f1; */

  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.card-inicio-productos {
  width: 20rem; /* Ancho fijo de las cards */
  height: var(--bs-card-height); /* Altura fija de las cards */
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
/* Agregar la clase "discounted-hover" a la tarjeta cuando se hace hover en el precio descontado */
.card-inicio-productos.hovered.discounted-hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.card-inicio-productos:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.card-img-top-inicio {
  width: 100%; /* Ajusta el ancho de la imagen al 100% de la card */

  height: 200px;
  border-radius: 8px;
  object-fit: contain; /* Ajusta la imagen al tamaño de la card, recortando el contenido si es necesario */
}

/* .card-title-inicio {
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 1rem;
} */

/* Estilos para centrar las cards */
.row-cols-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para responsividad de las cards */
@media (min-width: 576px) {
  .row-cols-sm-2 {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .row-cols-md-4 {
    justify-content: center;
  }
}

/* Estilos para centrar las cards y separarlas del filtro */
.col-inicio-sesion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}

/* .col-inicio-sesion.hovered .card-text-inicio {
  text-decoration: line-through;
  color: red;
} */

/* Estilos para el botón "sumar al carrito" */
.card-body-inicio-productos {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.additional-text {
  color: #00a650; /* Puedes agregar otros estilos según tus preferencias */
  font-size: 1.1rem;
  margin-left: 8px; /* Ajustar el espacio entre el precio y el texto adicional */
}

.price-off {
  font-size: 15px;
  color: #008300;
  margin-left: 8px;
}
.free-shipping {
  color: #008300;
}
.free-shipping::after {
  /* content: " ⚡"; */
}

.img-container {
  position: relative;
}

.line-horizontal {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ccc; /* Color de la línea horizontal */
}
.card-stock-inicio {
  font-size: 1rem; /* Tamaño del texto del stock */
  margin-bottom: 16px; /* Ajustar el espacio entre el texto adicional y el stock */
}

.card-text-inicio {
  display: flex; /* Mostrar el precio y el texto adicional en la misma línea */
  align-items: center; /* Centrar verticalmente los elementos */
  margin-bottom: 8px; /* Separación entre el precio y el stock */
}

.price-container {
  position: relative;
  font-size: 2rem; /* Tamaño de fuente para el precio, ajusta el valor según tus necesidades */
  /* font-weight: bold;  */
  margin-bottom: 8px; /* Espacio inferior para separar del texto adicional */
}

.discount-price {
  font-size: 16px; /* Tamaño de fuente para el precio tachado, ajusta según tus necesidades */
  text-decoration: line-through; /* Tachar el texto */
  margin-left: auto; /* Alinea el precio tachado a la derecha del contenedor */
}

.price {
  display: flex; /* Para mostrar el precio y el texto adicional en la misma línea */
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; /* Centrar verticalmente los elementos */
}
.card-description-inicio {
  font-size: 1rem;
  color: #999;
}
.add-to-cart-btn {
  /* position: absolute; */

  font-size: 18px;
  bottom: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #bdba18;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #948e37ce;
}
.row-scroll {
  margin-top: 100px; /* Ajusta este valor según el espaciado deseado */
}

















/******Precio Seleccionado*******/

/* Agrega esta clase para resaltar el filtro seleccionado */
.selected {
  font-weight: bold;
  color: #007bff; /* Color azul, puedes ajustar esto según tus estilos */
  cursor: pointer;
}

.precioContainer {
  cursor: pointer;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15px;
  margin-top: 20px;
}

/* Agrega cursor pointer a todos los elementos de precio */
.precioContainer p {
  cursor: pointer;

  /* Agrega otros estilos si es necesario */
}
.Mas_deprecio_B {
  margin-bottom: 0;
}
/* Ajusta los estilos de selección */
.precioContainer p.selected {
  font-weight: bold;
  color: #007bff; /* Color azul, puedes ajustar esto según tus estilos */
  
}

.precioFiltroA-B {
  font-size: 1.5rem; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 20px; /* Espacio inferior */
}









/*****Busqueda de precio por rango******/

.MIN_MAX_Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid #ccc;  */
  /* padding-bottom: 10px;  */
}

.Min-number,
.Max-number {
  width: 40%;
  height: 35px; 
  margin: 5px;
  padding: 5px;
  text-align: center;
  border-radius: 7px;
  border: groove;

}

.Min-number:focus,
.Max-number:focus {
  outline: none;
  border: 1px solid #007bff;
}

.biarrow::before,
[class^="biarrow-"]::before,
[class*=" biarrow-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-left: 1rem;
}

.Arrow-iconSelect {
  font-size: 1.8rem; /* Tamaño más grande */
  color: #007bff;
  cursor: pointer;
  margin: 10px 0;
}

.Arrow-iconSelect:hover {
  color: #d5d818; /* Color azul más claro en hover */
}

.Arrow-iconSelect {
  position: relative;
}

.line-between-inputs {
  width: 5%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}















/*******Eliminar flechas inc-dec input********/
/* Agrega este estilo a tu archivo de estilos CSS */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Opcional: Cambia el estilo del cursor cuando pasas el mouse por encima */
input[type="number"] {
  cursor: text;
}

/******Estilos pra el boton mostrar todos******/

.show-all-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 1.2rem;
}

.show-all-button:hover {
  background-color: #0056b3;
}

/***** carrito de compras ******/
.carritoDisable {
  display: flex;
  margin-top: 1rem;
  font-size:2rem;
}